<html>

<head>
    <title>RS Toolkit | by andrews.codes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body ng-app="rsTools" class="ng-cloak">
    <header class="sticky-top">
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">I really just wanted a better designed Hiscore lookup tool, so I skinned a few of the APIs that are on NPM. Come to find that nearly every one of them have a bug of some kind. Imagine that?</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://andrews.codes/" class="text-white">My Website</a></li>
                            <li><a href="https://twitter.com/geeksmarter" class="text-white">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img class="mr-2" ng-src="/static/images/skills/osrs-overall-icon.webp" alt="">
                    <strong>RS Toolkit</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main" ng-controller="RSLookupController">

        <section class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <form class="mb-0" ng-submit="queryRunescape(username)">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle px-3 mr-2"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ gameVersion }}
                            </button>
                            <div class="dropdown-menu">
                                <button type="button" class="dropdown-item" ng-click="setVersion('osrs')">
                                    <i class="material-icons text-primary mr-2">
                                        <span ng-if="gameVersion != 'osrs'">
                                            radio_button_unchecked
                                        </span>
                                        <span ng-if="gameVersion == 'osrs'">
                                            radio_button_checked
                                        </span>
                                    </i>
                                    Old School
                                </button>
                                <button type="button" class="dropdown-item" ng-click="setVersion('rs')">
                                    
                                        <i class="material-icons text-primary mr-2">
                                            <span ng-if="gameVersion != 'rs'">
                                                radio_button_unchecked
                                            </span>
                                            <span ng-if="gameVersion == 'rs'">
                                                radio_button_checked
                                            </span>
                                        </i>
                                    RuneScape
                                </button>
                            </div>
                        </div>
                        <input ng-model="username" type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-lg btn-raised btn-primary px-3">Lookup</button>
                        </div>

                    </div>
                </form>
                <div class="d-flex justify-content-around mt-2">
                    
                    <div class="d-flex flex-column flex-sm-row justify-content-around">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input ng-model="hiscoreType" value="" type="radio" id="normal-hiscores" name="hiscoreType" class="custom-control-input">
                            <label class="custom-control-label" for="normal-hiscores">Normal</label>
                        </div>
    
                        <div class="custom-control custom-radio custom-control-inline">
                            <input ng-model="hiscoreType" value="ironman" type="radio" id="ironman-hiscores" name="hiscoreType" class="custom-control-input">
                            <label class="custom-control-label" for="ironman-hiscores">Ironman</label>
                        </div>
    
                        <div class="custom-control custom-radio custom-control-inline">
                            <input ng-model="hiscoreType" value="ultimate" type="radio" id="ultimate-hiscores" name="hiscoreType" class="custom-control-input">
                            <label class="custom-control-label" for="ultimate-hiscores">Ultimate</label>
                        </div>
    
                        <div class="custom-control custom-radio custom-control-inline">
                            <input ng-model="hiscoreType" value="hardcore" type="radio" id="hardcore-hiscores" name="hiscoreType" class="custom-control-input">
                            <label class="custom-control-label" for="hardcore-hiscores">Hardcore</label>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section>
            <div class="container">
                <div class="text-center my-5 py-5" ng-if="!highscores && !querying">
                    <img src="/static/images/maxfirecape.gif" alt="">
                    <p>Type a username above to begin!</p>
                </div>
                
                <div class="querying-block" ng-if="querying">
                    <div>
                        <span class="rs-loading">Loading - Please Wait.</span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 mx-auto">
                    <h2 ng-if="highscores">{{ lookedup }}</h2>
                        <div class="row">
                            <div class="col-4 text-center"
                                ng-repeat="skill in highscores"
                                title="{{ skill.name | capitalize }} XP: {{ skill.exp | number }}&#10;Rank: {{ skill.rank | number }}"
                                ng-if="!$last">
                                <img ng-src="/static/images/skills/{{ highscores.version }}-{{ skill.name }}-icon.webp" alt="{{ skill.name }} icon">
                                <strong>{{ skill.level }}</strong>
                                <p ng-repeat-end>{{ skill.name | capitalize }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <pre class="h-25">{{ highscores | json }}</pre> -->
                <hr>
            </div>
        </section>
    </main>
    <footer class="text-muted fixed-bottom">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>All images and data are &copy; Jagex Ltd. I am in no way affiliated, <a href="https://andrews.codes/" target="_blank">I am just a fan</a>.</p>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="/static/client.js"></script>
</body>

</html>