body {
    min-height: 100vh;
    margin-bottom: 10vh;
}

.querying-block {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.rs-loading {
    padding: 5px;
    color: white;
    background: black;
    box-shadow: 0 0 15px black;
    border: 1px solid white;
}

.custom-file-control, .form-control, input::placeholder, label {
    line-height: 1.5;
}

footer {
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.75);
}

footer p {
    margin: 0;
}

.jumbotron {
    background: linear-gradient(180deg, slateblue, darkslategray);
    background-size: 400% 400%;

    animation: backgroundGradient 36s ease infinite;
}

@keyframes backgroundGradient { 
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}